@model FormsWebApplication.Models.Template

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Template</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString1Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString1Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString2Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString2Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString3Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString3Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString4State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString4State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomString4Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomString4Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine1Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine1Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine2Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine2Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine3Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine3Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine4State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine4State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomMultiLine4Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomMultiLine4Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt1Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt1Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt2Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt2Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt3Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt3Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt4State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt4State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomInt4Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomInt4Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox1State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox1State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox1Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox1Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox2State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox2State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox2Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox2Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox3State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox3State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox3Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox3Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox4State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox4State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomCheckbox4Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomCheckbox4Question)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
