@model List<Template>
@{
    ViewData["Title"] = "Template";
}

<h2>My Templates</h2>
<a href="/Template/Create" type="button" class="btn btn-primary">
    <i class="fas fa-plus"></i> New Template
</a>
<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Likes</th>
            <th>Comment</th>
            <th>Date Created</th>
            <th>Answers</th>
            <th>Aggregation</th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model)
        {
            <tr>
                <td>@template.Title</td>
                <td>@template.Likes.Count</td>
                <td>@template.Comments.Count</td>
                <td>@template.DateCreated.ToString("yyyy-MM-dd")</td>
                <td><a asp-controller="Answer" asp-action="TemplateAnswers" asp-route-templateId="@template.Id" class="btn btn-primary">View Answers</a></td>
                <td><a asp-controller="Answer" asp-action="Average" asp-route-templateId="@template.Id" class="btn btn-primary">View Aggregation</a></td>
                <td><a href="/Template/Edit/@template.Id" class="btn btn-primary">Edit</a></td>
                <td><a href="/Template/Details/@template.Id" class="btn btn-primary">Details</a></td>
                <td>
                    <form asp-controller="Template" asp-action="Delete" asp-route-id="@template.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

